\:host {
  display: block;
}
polyfill-next-selector { content: '.card-header h2'; }
.card-header ::content h2 {
  background: green;
  margin: 0;
  font-size: 1.8rem;
  font-weight: 300;
}

polyfill-next-selector { content: '.card-header img'; }
.card-header ::content img {
  width: 70px;
  border-radius: 50%;
  margin: 10px;
}
