\:host {
  display: block;
}
polyfill-next-selector { content: '.card-heade h2'; }
.card-heade ::content h2 {
  background: green;
  margin: 0;
  font-size: 1.8rem;
  font-weight: 300;
}

polyfill-next-selector { content: '.card-heade h1'; }
.card-heade ::content h1 {
  width: 70px;
  background: blue;
  border-radius: 50%;
  margin: 10px;
}
